* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary-height:280px;
    --primary-margin:0px 20px 0;
}
.container
{
    width: 1170px;

    margin: auto;
}
.columm1{
    width:320px;
    top:0;
    display: inline-block;
    margin:var(--primary-margin);
}
.columm2{
    width: 100px;
    display: inline-block;
    margin: var(--primary-margin);
    top:0;
}
.columm3{
    display: inline-block;
    margin: var(--primary-margin);
    top:0;
}
.columm4{
    display: inline-block;
    margin: var(--primary-margin);
    width: 350px;
    top:0;
}
.main_text{
    font-size: 20px;
}
.text{
    font-size: 20px;
    color: rgb(209,209,209);
    margin: 3px 0;
}
.title{
    margin-bottom: 30px;
    font-size: 22px;
}
